html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
#magazine{
    width: 800px;
    height: 400px;
}
#magazine .turn-page{
    background-color:#ccc;
}

.bookshelf{
    width: 360px;
    margin: 140px auto;
}

.bookshelf .shelf{
    /*background:url(../pics/bookshelf.gif);
    background-size:100%;*/
    width:426px;
    height:440px;
}

.bookshelf .shelf .row-1{
    position:relative;
    width:360px;
    height:158px;
    margin-left:33px;

}

.bookshelf .shelf .row-1:after,
.bookshelf .shelf .row-2:after{
    background:url("../pics/wall-bookshelf.png");
    background-size:100%;
    background-repeat: no-repeat;
    background-position:bottom left;
    width:426px;
    height:210px;
    display:block;
    content:"";
    margin-left:-38px;
}

.bookshelf .shelf .row-2{
    position:relative;
    margin-top:20px;
    height:164px;
    width:360px;
    margin-left:33px;
}

.bookshelf .shelf .row-2:after{
    height:216px;
}

.bookshelf .shelf .loc{
    position:absolute;
    bottom:0;
    width:100%;
}

.bookshelf .shelf .loc > div{
    width:33%;
    height:100%;
    float:left;
    text-align:center;
    position:relative;
}

.bookshelf .suggestion{
    font:12px 'District Thin', helvetica, arial;
    color:#999;
    text-align:center;
    line-height:40px;
}

.bookshelf .sample,
.bookshelf-row .sample{
    margin:auto;
    position: relative;
    z-index:1;

    -webkit-box-shadow:2px 2px 5px rgba(0,0,0,0.6);
    -moz-box-shadow:2px 2px 5px rgba(0,0,0,0.6);
    -ms-box-shadow:2px 2px 5px rgba(0,0,0,0.6);
    -o-box-shadow:2px 2px 5px rgba(0,0,0,0.6);
    box-shadow:2px 2px 5px rgba(0,0,0,0.6);

    -webkit-transition:-webkit-transform 0.1s;
    -webkit-transform:translate(0, 0);
    -moz-transition:-moz-transform 0.1s;
    -moz-transform:translate(0, 0);
    -ms-transition:-ms-transform 0.1s;
    -ms-transform:translate(0, 0);
    -o-transition:-o-transform 0.1s;
    -o-transform:translate(0, 0);
    transition:transform 0.1s;
    transform:translate(0, 0);
}

.sample .loader{
    position:absolute;
    width:32px;
    height:32px;
    top:50%;
    left:50%;
}

.sample .loader i{
    background:white url("../pics/loader.gif") 4px 4px no-repeat;
    position:relative;
    top:-16px;
    left:-16px;
    width:32px;
    height:32px;
    display:block;

    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
}

.bookshelf .shelf .hover,
.bookshelf-row .hover,
.bookshelf .shelf .loading{
    z-index:2;
    cursor:none;
    background-color:white;
    -webkit-transform: scale3d(1.1, 1.1, 1) translate3d(0, -5px, 0);
    -moz-transform: scale3d(1.1, 1.1, 1) translate3d(0, -5px, 0);
    -ms-transform: scale3d(1.1, 1.1, 1) translate3d(0, -5px, 0);
    -o-transform: scale3d(1.1, 1.1, 1) translate3d(0, -5px, 0);
    transform: scale3d(1.1, 1.1, 1) translate3d(0, -5px, 0);
}

.bookshelf .thumb1,
.bookshelf-row .thumb1{
    background-image:url("../pics/book1.jpg");
    width:92px;
    height:115px;
}

.bookshelf .thumb2,
.bookshelf-row .thumb2{
    background-image:url("../pics/book2.jpg");
    width:87px;
    height:115px;
}

.bookshelf .thumb3,
.bookshelf-row .thumb3{
    background-image:url("../pics/book3.jpg");
    width:90px;
    height:115px;
}

.bookshelf .thumb4,
.bookshelf-row .thumb4{
    background-image:url("../pics/book4.jpg");
    width:97px;
    height:125px;

}
.bookshelf .thumb5,
.bookshelf-row .thumb5{
    background-image:url("../pics/book5.jpg");
    width:97px;
    height:125px;
}

.bookshelf .thumb6,
.bookshelf-row .thumb6{
    background-image:url("../pics/book6.jpg");
    width:104px;
    height:125px;
}

.samples .quit {
    background-position: -44px 0;
    cursor: default;
    position: absolute;
    right: 0;
    top: 45px;
}